*{
    box-sizing: border-box;
}

.li-laptop{
    display: none;
}
.nav-icon{
    display: block;
    font-size: larger;
}

/* ---- Section ---- */
.hero-img img{
    display: none;
}
.hero-text{
    padding: 20px;
}
.hero-text h1{
    font-size: 1em;
}
.hero-text p{
    font-size: 1em;
}


/* ---- Charge Calculator ---- */

.charge-calculator{
    display: none;
}

/* ---- services box ----- */
.serv-box{
    padding: 7px;
}

.serv-box h3{
    text-wrap: nowrap;
    font-size: 0.8rem;
}

/* ---- Message Box    ---- */

.contact-box{
    width: 50%;
}
.contact-container{
    flex-direction: column;
    align-items: center;
    
}
.contact-box{
    width: 100%;
    margin-bottom: 10px;
}

/* ---- Footer Content ---- */

.footer-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fc{
    width: 70%;
    margin: 10px;
}
